@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_LabAssistantLayout.cshtml";
}

<h2>Change Password</h2>

@if (ViewBag.isSuccess!=null && ((bool)ViewBag.isSuccess))
{
    <p class="msg done">@ViewBag.ChangePasswordStatus</p>
}
else if (ViewBag.isSuccess != null)
{
    <p class="msg error">@ViewBag.ChangePasswordStatus</p>
}

@using (Html.BeginForm("ChangePassword", "LabAssistant", FormMethod.Post, new { id = "changePassword", name = "", onsubmit = "return validateChangePasswordForm();" }))
{
    <fieldset>
        <legend>Password Details</legend>
        <div>
            <label class="va-top" style="width: 100px;">Current Password:</label>
            <input type="password" id="oldPass" name="oldPass" class="input-text">
            <div id="msg1"></div>
        </div>
        <br />
        <div>
            <label class="va-top" style="width: 100px;">New Password:</label>
            <input type="password" name="newPass" class="input-text">
        </div>
        <br />
        <div>
            <label class="va-top" style="width: 100px;">Repeat Password:</label>
            <input type="password" name="newPass1" class="input-text">
        </div>
        <br />
        <input type="submit" value="Change Password" />
    </fieldset>

}
@section scripts {
    
    <script type="text/javascript" src="~/Scripts/jquery.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                $("#oldPass").focusout(function () {
                    var v = document.forms["changePassword"]["oldPass"].value;
                    $.getJSON("/LabAssistant/CheckPassword?Password1="+v, function (data) {
                        if (data) {
                            $('#msg1').html("<font color='green'>Password Matched</font>");
                        }
                        else {
                            $('#msg1').html("<font color='red'>Password Not Correct</font>");
                        }
                    });
                });
            });

            function validateChangePasswordForm() {
                var x = document.forms["changePassword"]["oldPass"].value;
                var z = document.forms["changePassword"]["newPass"].value;
                var y = document.forms["changePassword"]["newPass1"].value;
                if ((y == null || y == "") && (x == null || x == "") && (z == null || z == "")) {
                    alert("All fields must be filled out");
                    return false;
                }
                else {
                    if (x == null || x == "") {
                        alert("Old Password must be filled out");
                        return false;
                    }
                    if (y == null || y == "") {
                        alert("New Password must be filled out");
                        return false;
                    }
                    if (z == null || z == "" || z != y) {
                        alert("New password didn't match...");
                        return false;
                    }
                }
            }

        </script>
}